In [1]:
import pandas as pd

In [2]:
fileData = pd.read_csv('NoEmptyDate.csv', header=0)

In [3]:
null_columns=fileData.columns[fileData.isnull().any()]

fileData[null_columns].isnull().sum()

Case Number                  4
Location Description      2834
District                    47
Ward                    605600
Community Area          606670
dtype: int64

In [4]:
fileData.describe()

,ID,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude
count,6.630612e+06,6.630612e+06,6.630565e+06,6.025012e+06,6.023942e+06,6.630612e+06,6.630612e+06,6.630612e+06,6.630612e+06,6.630612e+06
mean,6.180431e+06,1.192139e+03,1.130258e+01,2.266107e+01,3.760601e+01,1.164511e+06,1.885699e+06,2.008247e+03,4.184195e+01,-8.767182e+01
std,3.008978e+06,7.034680e+02,6.945788e+00,1.382830e+01,2.153180e+01,1.718534e+04,3.273030e+04,4.945507e+00,9.006622e-02,6.218576e-02
min,6.340000e+02,1.110000e+02,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.001000e+03,3.661945e+01,-9.168657e+01
25%,3.416292e+06,6.220000e+02,6.000000e+00,1.000000e+01,2.300000e+01,1.152933e+06,1.859175e+06,2.004000e+03,4.176889e+01,-8.771389e+01
50%,6.161677e+06,1.111000e+03,1.000000e+01,2.200000e+01,3.200000e+01,1.165977e+06,1.890515e+06,2.008000e+03,4.185511e+01,-8.766621e+01
75%,8.773648e+06,1.731000e+03,1.700000e+01,3.400000e+01,5.800000e+01,1.176352e+06,1.909312e+06,2.012000e+03,4.190686e+01,-8.762839e+01
max,1.143173e+07,2.535000e+03,3.100000e+01,5.000000e+01,7.700000e+01,1.205119e+06,1.951622e+06,2.018000e+03,4.202291e+01,-8.752453e+01

In [10]:
fileData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6630612 entries, 0 to 6630611
Data columns (total 22 columns):
ID                      int64
Case Number             object
Date                    object
Block                   object
IUCR                    object
Primary Type            object
Description             object
Location Description    object
Arrest                  bool
Domestic                bool
Beat                    int64
District                float64
Ward                    float64
Community Area          float64
FBI Code                object
X Coordinate            float64
Y Coordinate            float64
Year                    int64
Updated On              object
Latitude                float64
Longitude               float64
Location                object
dtypes: bool(2), float64(7), int64(3), object(10)
memory usage: 1.0+ GB

In [14]:
import plotly.plotly as py
import plotly.graph_objs as go

In [15]:
import pandas as pd
import math

In [16]:
df_2007 = fileData[fileData['Year']==2007]

In [17]:
df_2007.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
472043,5465537,HN292375,04/19/2007 12:44:00 PM,009XX W WILSON AVE,0810,THEFT,OVER $500,STREET,False,False,...,46.0,3.0,06,1169248.0,1930736.0,2007,02/10/2018 03:50:01 PM,41.965455,-87.653095,"(41.965454888, -87.653094586)"
516654,5749147,HN552479,08/27/2007 12:15:54 AM,028XX W 63RD ST,0460,BATTERY,SIMPLE,SIDEWALK,True,False,...,15.0,66.0,08B,1158313.0,1862737.0,2007,02/10/2018 03:50:01 PM,41.779090,-87.695159,"(41.779090123, -87.695158983)"
595717,5679746,HN488215,07/24/2007 07:30:00 PM,052XX N NASHVILLE AVE,0610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,False,False,...,41.0,10.0,05,1131583.0,1934489.0,2007,02/10/2018 03:50:01 PM,41.976491,-87.791495,"(41.976490526, -87.791494995)"
618267,5714840,HN509436,08/04/2007 11:00:00 PM,117XX S YALE AVE,2027,NARCOTICS,POSS: CRACK,ALLEY,False,False,...,34.0,53.0,18,1176717.0,1827155.0,2007,02/28/2018 03:56:25 PM,41.681054,-87.628756,"(41.681053894, -87.628756119)"
625201,5725435,HN530436,08/15/2007 11:26:00 AM,030XX W 61ST ST,0560,ASSAULT,SIMPLE,SIDEWALK,False,False,...,16.0,66.0,08A,1157332.0,1864037.0,2007,02/28/2018 03:56:25 PM,41.782677,-87.698720,"(41.782677433, -87.698720278)"

In [20]:
df_2007.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 435689 entries, 472043 to 6602070
Data columns (total 22 columns):
ID                      435689 non-null int64
Case Number             435689 non-null object
Date                    435689 non-null object
Block                   435689 non-null object
IUCR                    435689 non-null object
Primary Type            435689 non-null object
Description             435689 non-null object
Location Description    435686 non-null object
Arrest                  435689 non-null bool
Domestic                435689 non-null bool
Beat                    435689 non-null int64
District                435687 non-null float64
Ward                    435684 non-null float64
Community Area          435536 non-null float64
FBI Code                435689 non-null object
X Coordinate            435689 non-null float64
Y Coordinate            435689 non-null float64
Year                    435689 non-null int64
Updated On              435689 non-null object
Latitude                435689 non-null float64
Longitude               435689 non-null float64
Location                435689 non-null object
dtypes: bool(2), float64(7), int64(3), object(10)
memory usage: 70.6+ MB

In [21]:
slope = 2.666051223553066e-05
hover_text = []
bubble_size = []

In [22]:
for index,row in df_2007.iterrows():
    hover_text.append(('Location: {location}<br>'+ 'Year :{year}<br>'+ 'Primary Type :{primary_type}').format(location=row['Location'],year=row['Year'],primary_type=row['Primary Type']))
    bubble_size.append(math.sqrt(row['ID']*slope))
df_2007['text'] = hover_text
df_2007['size'] = bubble_size
sizeref = 2.*max(df_2007['size'])/(100**2)

/home/fm-lt-29/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/fm-lt-29/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy